body {
  text-align: center;
  background-color: #204051;
}

a {
  font-size: 1.5rem;
  color: #DBEDF3;
  font-family: 'Indie Flower', cursive;
  text-shadow: 3px 0 #3b6978;
  text-decoration: none;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
